@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #0b090e;
  --black-grey: #212121;
  --med-grey: #4b545d;
  --light-grey: #9ba2ab;
  --red: #ae4735;
  --white: #f2fcf8;
  --white-bg: rgba(242, 252, 248, 0.6);
  --petrol: #328a94;
  --blue: #082638;
  --blue-bg: rgba(8, 38, 56, 0.4);
  --yellow: #f6df51;
  --invisible: rgba(255, 255, 255, 0);
}

html {
  font-size: 62.5%;
  font-family: arial, "FontAwesome";
}

body {
  font-size: 1.6rem;
  background-image: url(./images/trainlights.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 10% 100%;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
}

header a {
  text-decoration: none;
}

#logo {
  border: 2px solid var(--light-grey);
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  margin: 1.5rem;
  white-space: nowrap;
}

#logo div:first-child {
  border-bottom: 2px solid var(--light-grey);
  color: var(--light-grey);
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 1.2rem;
  text-align: end;
  padding-right: 0.3rem;
  padding-bottom: 0.2rem;
}

#logo div:nth-child(2) {
  color: var(--petrol);
  font-size: 2rem;
  font-weight: 600;
  padding: 0.2rem 0.3rem;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  margin: 1.5rem;
}

li {
  list-style-type: none;
  padding-left: 2rem;
}

nav ul li a {
  position: relative;
  font-size: 2rem;
  color: var(--white);
  text-transform: lowercase;
}

nav ul li a:hover {
  color: var(--white);
}

nav ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--yellow);
  box-shadow: var(--yellow) -3px -3px 20px;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.lnav {
  display: none;
}

.content {
  position: absolute;
  top: 8vh;
  width: 100%;
  height: 58vh;
  border-radius: 2rem;
  padding: 4rem;
  font-size: 1.6rem;
  background-image: linear-gradient(
    to top,
    rgba(8, 38, 56, 0) 1%,
    rgba(8, 38, 56, 0.8) 99%
  );
  color: var(--white);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
}

.content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

span {
  color: var(--petrol);
  font-weight: 600;
  padding: 0.2rem;
}

section {
  width: 100%;
  height: auto;
  margin-bottom: 15em;
}

section:last-child {
  margin-bottom: 5em;
}

section p {
  margin-bottom: 1.5rem;
}

h3 {
  padding-bottom: 2rem;
  font-family: "IBM Plex Mono", monospace;
}

.navtitles {
  padding-bottom: 5rem;
  font-size: 0rem;
  color: var(--invisible);
}

.skills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.button {
  border-radius: 50%;
  border-color: var(--black-grey);
  padding: 0.5rem;
  margin: 0.5rem;
  height: 6rem;
  width: 6rem;
  background-color: var(--petrol);
  color: var(--white);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.button:hover,
.next .button:hover {
  cursor: default;
}

.next .button {
  background-color: var(--med-grey);
}

.button p {
  font-size: 1rem;
  line-height: 1rem;
}

i {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

#work {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.project {
  height: 20rem;
  width: 30rem;
  margin: 1rem;
  background-size: cover;
  background-position: center;
}

.project p {
  background-color: var(--petrol);
  text-align: center;
  color: var(--white);
}

#work a {
  text-decoration: none;
}

#project1 {
  background-image: url(images/unfold-anim-thumb.png);
}

#project2 {
  background-image: url(images/vanishing-head-thumb.png);
}

#project3 {
  background-image: url(images/nested-grids-thumb.png);
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h2 {
  font-family: "IBM Plex Mono", monospace;
  text-transform: lowercase;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

label {
  font-size: 1px;
  margin-bottom: 1rem;
  color: var(--invisible);
}

#textarea,
.input {
  background-color: var(--white-bg);
  color: var(--black);
  width: 100%;
  padding: 0.5rem;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

textarea:focus,
input:focus {
  outline: 1px solid var(--red);
}

.formbtn {
  display: flex;
}

button[type="submit"] {
  width: 8rem;
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--petrol);
  color: var(--white);
  border: none;
  font-weight: 700;
}

button[type="reset"] {
  width: 8rem;
  margin: 1rem 0.5rem;
  padding: 1rem;
  background-color: var(--red);
  color: var(--white);
  border: none;
  font-weight: 700;
}

.socMed ul {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2rem;
}

.socMed ul li a i {
  text-decoration: none;
  font-size: 3rem;
  color: var(--light-grey);
}

.socMed ul li a i:hover {
  color: var(--petrol);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--light-grey);
  text-align: right;
  padding: 1rem;
}

/* larger mobile, tablet, desktop */
@media screen and (min-width: 600px) {
  body {
    background-position: 0% 100%;
  }

  .snav {
    display: none;
  }

  .lnav {
    display: block;
  }

  .content {
    top: 15%;
    left: 10%;
    width: 80%;
    height: 50vh;
    background-image: none;
    background-color: var(--blue-bg);
  }

  #work {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 5em;
  }
}
